doctype html
html
  head
    title Codespot
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
      
    //font awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/plugins/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='/plugins/slick/slick-theme.css')

  body

    // nav
    .row
      nav#mainNav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.page-scroll(href='/') Codespot
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                // search bar
                form.navbar-form.navbar-left.text-center(role='search' method="GET" action="/places")
                  .form-group
                    button.btn.btn-default(type='submit') Submit
                    input.form-control(type='text', placeholder='Search' name='place[criteria]')
                    button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                      span.caret
                    ul.dropdown-menu
                      li
                        a.small(href='#', data-value='wifi', tabindex='-1')
                          input(type='checkbox' value='true' name='place[wifi]')
                          |  wifi
                      li
                        a.small(href='#', data-value='restrooms', tabindex='-1')
                          input(type='checkbox' value='true' name='place[restrooms]')
                          |  restrooms
                      li
                        a.small(href='#', data-value='coffee', tabindex='-1')
                          input(type='checkbox' value='true' name='place[coffee]')
                          |  coffee
              li
                a.page-scroll(href='#about') About
              if (!currentUser)
                li
                  a#loginButton(href='') Login
                li
                  a#registerButton(href='') Register
              else
                li#userProfile
                  a.page-scroll(href='/users/' + currentUser.id) My Profile 
                li
                  a.page-scroll(href='/auth/logout') Log out
      #login-form
        form(id='infos', action='/auth/login', method='POST')
          label Username
          input(type='text',name='user[username]')
          label Password
          input(type='password',name='user[password]')
          input(type='hidden',name='url')
          input(type='submit' value='Sign in')
        form(action="/auth/facebook", method='POST')
          input(type='hidden',name='url')
          input(type='submit', value='Login with Facebook')
      #register-form
        form(action="/auth/register" method="POST")
          label Username
          input(type="text", placeholder="username", name="user[username]")  
          label Password
          input(type="password", placeholder=" password",name="user[password]")
          input(type="password", placeholder="confirm password",name="user[confirm]")
          label email
          input(type="email", placeholder="email(optional)",name="user[email]")
          label avatar
          input(type="url", placeholder="avatar.jpeg",name="user[img_url]") 
          input(type='hidden',name='url')
          input(type="submit",value="Sign Up")
      if (msg)
        #msg= msg[0]
      block content

      script(src='https://code.jquery.com/jquery-2.1.4.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

      // local javascript 
      script(src='/javascripts/loginMod.js')
      
      //slick slider plugin
      script(src="/plugins/slick/slick.min.js" type="text/javascript")
      //slick slider
      script(src="/javascripts/slickSlider.js" type="text/javascript")
      block scripts
