extends ../partials/header
block content
  .container
        .row
          .col-xs-1
          #swagShowBody.col-xs-10.text-center.body
            h1 userName
            img#avatarBig(src='https://api.adorable.io/avatars/200/sweet.png')
          .col-xs-1
        .row.text-center
          .col-xs-1
          #content.col-xs-10.body
            // review column
            .col-xs-2
            #reviewsColumn.col-xs-8
              // populate one of these for every review with this user id
              .row.review
                // place info column
                #userInfo.col-xs-5
                  // replace with placenName
                  b placeName
                  br
                  // replace with first Image from photo table with this id
                  img#placeThumbnail(src='images/starbucks1.jpg')
                  br
                  // replace with link to location
                  a(href='users/id') More reviews for this location
                // review column
                .col-xs-7
                  center ★★★ύ☆
                  br
                  // replace with review content
                  | Crucifix polaroid farm-to-table shabby chic. Four loko thundercats whatever butcher 8-bit bushwick. Yr sartorial vegan, gluten-free synth schlitz kickstarter YOLO wayfarers slow-carb sustainable umami mustache leggings. Mustache quinoa four loko kickstarter YOLO, intelligentsia gochujang ennui offal. Chambray readymade trust fund man braid ennui. Kinfolk skateboard iPhone fap YOLO kickstarter. Chillwave brunch flexitarian small batch.
              .row.review
                // place info column
                #userInfo.col-xs-5
                  // replace with placenName
                  b placeName
                  br
                  // replace with first Image from photo table with this id
                  img#placeThumbnail(src='images/starbucks2.jpg')
                  br
                  // replace with link to location
                  a(href='users/id') More reviews for this location
                // review column
                .col-xs-7
                  center ★★★★☆
                  br
                  // replace with review content
                  | Crucifix polaroid farm-to-table shabby chic. Four loko thundercats whatever butcher 8-bit bushwick. Yr sartorial vegan, gluten-free synth schlitz kickstarter YOLO wayfarers slow-carb sustainable umami mustache leggings. Mustache quinoa four loko kickstarter YOLO, intelligentsia gochujang ennui offal. Chambray readymade trust fund man braid ennui. Kinfolk skateboard iPhone fap YOLO kickstarter. Chillwave brunch flexitarian small batch.
                  | Crucifix polaroid farm-to-table shabby chic. Four loko thundercats whatever butcher 8-bit bushwick. Yr sartorial vegan, gluten-free synth schlitz kickstarter YOLO wayfarers slow-carb sustainable umami mustache leggings. Mustache quinoa four loko kickstarter YOLO, intelligentsia gochujang ennui offal. Chambray readymade trust fund man braid ennui. Kinfolk skateboard iPhone fap YOLO kickstarter. Chillwave brunch flexitarian small batch.
          .col-xs-2
