div
	label Content
	br
	input(autofocus type="text" name="review[content]" value= review ? review.content : '')
div
	label Rating
	br
	input(type="text" name="review[rating]" value= review ? review.rating : '')
div
	label wifi &nbsp
	input(type="checkbox" name="review[]")
div
	label Restrooms &nbsp
	input(type="checkbox" name="review[]")
div
	label Coffee &nbsp
	input(type="checkbox" name="review[]")