div
	label Content
	br
	input(type="text")
div
	label Rating
	br
	input(type="text")
div
	label wifi
	input(type="checkbox" name="review[]")
div
	label Restrooms
	br
	input(type="checkbox" name="review[]")
div
	label Coffee
	br
	input(type="checkbox" name="review[]")