extends ../partials/header
block content
	.container
		.row
			.col-xs-1
			#searchResults.col-xs-10.body
				center
					each category in places
						each place in category
							a(href="/places/#{place.id}")=place.name
			.col-xs-1