extends ../partials/header
block content
	#newReviewBody.container
		.row
			.col-xs-1
			.col-xs-10
				h1 Welcome Patron,

			    p CodeSpot is a community for coders to search and share their favorite free places to code. The users may contribute as many or a few locations as they please or simply search for somewhere convenient to code. A worldwide crowdsourced database makes finding or adding a place easy to do from anywhere.

			    p Our team is a rag tag bunch of three working out of  their favorite CodeSpot, Galvanize SoMa. Forrest Ambruster is our lead backend developer, Steve McLaughlin is a developer and Troy Enns is our lead frontend developer.

			.col-xs-10