extends ../partials/header
block content
  #body.container
    .row
        .col-xs-1.margin
        .col-xs-10.text-center.body
          h2 find a workspace
          div#map-canvas
        .col-xs-1.margin
    .row
    each review in reviews
      .col-md-1.margin
      .col-md-5.text-center.body.border-solid
        h2=review.name
        if (review.photo)
          img#locationPhoto(src='#{review.photo}')
        else
          img#locationPhoto(alt="No Photos")
        br
        - for (var i = review.avg; i > 0; i--) {
          i.fa.fa-star(aria-hidden='true')
        - }
        br
        a(href='/places/#{review.id}') see more
      .col-md-1.margin